[Desktop Entry]
Type=Application
Name=Notepad
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=omawrite-notepad %f
Icon=omawrite-notepad
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=omawrite-notepad
